# Dependencies
node_modules/
/apps/client/node_modules/
/apps/server/node_modules/
/apps/client/.pnp
/apps/client/.pnp.js

# Environment Variables
.env
/apps/server/.env
/apps/client/.env
/apps/client/.env.local
/apps/client/.env.development.local
/apps/client/.env.test.local
/apps/client/.env.production.local

# Build Artifacts
/apps/client/build/
/apps/client/dist/
/apps/server/build/
/apps/server/dist/
build/
dist/

# Testing & Reports
/apps/client/coverage/
/apps/client/test-results/
/apps/client/playwright-report/
/apps/client/blob-report/
/apps/client/playwright/.cache/
/apps/client/playwright/.auth/
/apps/server/coverage/
/apps/test-results/
/apps/playwright-report/
/apps/blob-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino-debug.log*

# Misc & OS Specific
.DS_Store
Thumbs.db
/server/samconfig.toml

# IDE Specific
.vscode/
.idea/
