@layer components {
  .iconWrapper {
    width: 0.75rem;
    padding-right: 0.5rem;
    display: inline-block;
  }

  .tick {
    color: var(--color-green);
  }

  .cross {
    color: var(--color-danger-red);
  }

  .unorderedList {
    list-style-type: none;
    padding: 0;
  }
}
