@layer components {
  .signUpBox {
    width: 100%;
    max-width: 654px;
    padding: 1.5rem;
    border: 1px solid var(--color-light-grey);
    border-radius: 1rem;
  }

  .secondaryHeader {
    color: var(--color-dark-grey);
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    animation:
      typing 2s steps(50, end),
      blink-caret 3s step-end 1;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    100% {
      border-color: transparent;
    }
    0% {
      border-color: var(--color-dark-grey);
    }
  }

  .formInput {
    outline: none;
    border: none;
    font-family: var(--font-primary);
    background: transparent;
  }

  .flexContainer {
    display: flex;
    align-items: center;
  }

  .passwordRequirementsText {
    font-size: var(--font-size-smaller);
    margin: 0.5rem 0;
  }
}
